.env
__pycache__
.ipynb_checkpoints
.langgraph_api/
deep_research_from_scratch.egg-info/
*.pyc
.mypy_cache
.hypothesis/
/.coverage
/.VSCodeCounter
# Ignore executed notebook snapshots created during headless runs
*.executed.ipynb
# Also ignore any executed notebook files in notebooks/ directory
notebooks/*.executed.ipynb